*{
  margin: 0;
  padding: 0;
}
.container{
  height: 100vh;
  width: 100%;
  background-image: url(videos/video-1.mp4);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}
.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
  
}
.logo{
  width: 160px;
  cursor: pointer;
} 

.login{
  width: 40px;
  cursor: pointer;
}
nav{
  flex: 1;
  padding-left: 60px;
  
}  

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
  
}  


