html,
body {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    /*width: 100%;*/
    font-family: 'Raleway', sans-serif;
}

.navbar-nav {
    padding-left: 100px;
}

.nav-link {
    margin-left: 50px;
}

.logo {
    width: 50px;
    height: 50px;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: 5em;
    margin-bottom: 5px;
    border-radius: 20px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.navbar {
    height: 80px;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #69a9b2;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #69a9b2;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #69a9b2;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

#starfield
{
  position: fixed;
  inset: 0;
  background: black;
}

.star
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 0 1vw white;
  background: white;

  animation: star var(--speed) linear infinite;
  animation-delay: var(--delay);
}

@keyframes star
{
  from
  {
    transform: rotateZ(var(--rotation)) translateY(0) scale(0);
  }
  to
  {
    transform: rotateZ(var(--rotation)) translateY(100vw) scale(var(--scale));
  }
}

